// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #4848FF;
$secondary: #0E1B5B;
$accent: #656DA8;
$subtle: #9792EF;
$dash-1: #5B67FD;
$dark: #1D1D1D;

$positive: #21BA45;
$negative: #FF3F87;
$info: #31CCEC;
$warning: #F2C037;

@import '~quasar-variables-styl';
